@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

html, body, #root { height: 100%; }

.leaflet-container {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}